<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Gerenciamento de Tarefas com QR Codes</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gerenciamento de Tarefas com QR Codes!</h1>
    <ul>
        <li><a href="/cadastro_funcionario">Cadastrar Funcionário</a></li>
        <li><a href="/cadastro_area">Cadastrar Área</a></li>
        <li><a href="/cadastro_equipamento">Cadastrar Equipamento</a></li>
        <li><a href="/registrar_tarefa">Registrar Tarefa</a></li>
    </ul>
</body>
</html>