<!DOCTYPE html>
<html>
<head>
    <title>Registrar Tarefa</title>
</head>
<body>
    <h1>Registrar Tarefa</h1>
    <form method="POST" action="/iniciar_tarefa">
        <label for="funcionario_codigo">Código do Funcionário:</label><br>
        <input type="text" id="funcionario_codigo" name="funcionario_codigo"><br><br>
        <label for="area_codigo">Código da Área:</label><br>
        <input type="text" id="area_codigo" name="area_codigo"><br><br>
        <label for="equipamento_codigo">Código do Equipamento:</label><br>
        <input type="text" id="equipamento_codigo" name="equipamento_codigo"><br><br>
        <input type="submit" value="Iniciar Tarefa">
    </form>
    <form method="POST" action="/finalizar_tarefa">
        <label for="funcionario_codigo">Código do Funcionário:</label><br>
        <input type="text" id="funcionario_codigo" name="funcionario_codigo"><br><br>
        <input type="submit" value="Finalizar Tarefa">
    </form>
</body>
</html>